@import url(
   https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,500,600,800|Amatic+SC);
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

html, body {
    margin: 0;
}
body,
p {
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   font-size: 0.9em;
}
h1 {
   font: 4em "Amatic SC", cursive;
   margin-bottom: 10px;
   text-align: center;
   margin: 0px;
   height: 80px;
   padding-left: 185px;
}

h2 {
   font: 2em "Amatic SC", cursive;
   color: #777;
   margin-bottom: 0.5em;
   /* display: inline; */
}
.card {
    margin-bottom: 30px;
}
.card .add-button {
   display: none;
}
.card:hover {
   cursor: pointer;
}
.card:hover .add-button {
   float: right;
   font: 3em "Amatic SC", cursive;
   color: #777;
   text-decoration: none;
   border: solid 1px #777;
   line-height: 25px;
   width: 30px;
   height: 30px;
   margin-right: -5px;
   text-align: center;
   border-radius: 20px;
   display: block;
}
.card .metadata {
   display: none;
}

img {
   width: 100%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tag {
    background: #F0F0F0;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 0.85em;
}
.lat-lng {
    font-size: 0.85em;
    margin-top: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    border: dotted 1px #CCC;
    padding: 3px;
    font-size: 0.9em;
}
table th {
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
}
.menu-item {
    font-size: 1.1rem;
    color: #555;
    float: right;
    line-height: 32px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding-top: 25px;
}
.menu-item.active {
    border-bottom: solid 3px #7B8CDE;
}

.card > div {
   border: solid 1px #ccc;
   padding: 20px;
   margin: 10px;
   border-radius: 10px;
}

@media (max-width: 1100px) {
    .grid {
       grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .grid {
       grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .card > div {
        border: none;
        margin: 0px;
    } 
    h2 {
        font: 2.5em "Amatic SC", cursive;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    h1 {
        padding-left: 0;
    }
    .menu-item {
        display: none;
    }
    h2 {
        margin-top: 0;
    }
}