@import url(
   https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,500,600,800|Amatic+SC);
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

html, body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    padding-top: 80px;
}
body,
p {
   font-family: "Open Sans", sans-serif;
   line-height: 1.5;
   font-size: 0.9em;
}
header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    height: 70px;
    display: grid;
    grid-template-columns: 200px auto 200px;
    padding-left: 30px;
    padding-right: 30px;
}
header > * {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px #000; */
}
header h1 {
    font: 3em "Amatic SC", cursive;
    margin-bottom: 10px;
    text-align: center;
    margin: 0px;
}
.menu {
    justify-content: flex-end;
}
.search > div {
    width: 70%;
    min-width: 400px;
    display: flex;
    align-items: center;
}

.menu-item {
    font-size: 1.1rem;
    color: #CCC;
    line-height: 32px;
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

.menu-item.active i {
    background: #7B8CDE;
    color: white;
    padding: 6px;
    border-radius: 5px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
   font: 2em "Amatic SC", cursive;
   color: #777;
   margin-bottom: 0.5em;
   /* display: inline; */
}
.card {
    margin-bottom: 30px;
}
.card .add-button {
   display: none;
}
.card:hover {
   cursor: pointer;
}
.card:hover .add-button {
   float: right;
   font: 3em "Amatic SC", cursive;
   color: #777;
   text-decoration: none;
   border: solid 1px #777;
   line-height: 25px;
   width: 30px;
   height: 30px;
   margin-right: -5px;
   text-align: center;
   border-radius: 20px;
   display: block;
}
.card .metadata {
   display: none;
}

img {
   width: 100%;
}

.tag {
    background: #F0F0F0;
    border-radius: 5px;
    padding: 3px 6px;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-right: 6px;
    margin-top: 6px;
    display: inline-block;
}
.lat-lng {
    font-size: 0.85em;
    margin-top: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    border: dotted 1px #CCC;
    padding: 3px;
    font-size: 0.9em;
}
table th {
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
}

.card > div {
   border: solid 1px #ccc;
   padding: 20px;
   margin: 10px;
   border-radius: 10px;
}


/**********/
/* Search */
/**********/

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: none;
    /* outline: none; */
    background: #f1f3f4;
    border-radius: 5px;
    /* margin-left: 10vw; */
}
    
  }
  input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
  }
  input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
  
.search-icon {
    width: 75px;
    margin-left: -65px;
}





/* @media (max-width: 1100px) {
    .grid {
       grid-template-columns: 1fr 1fr 1fr;
    }
} */

@media (max-width: 1000px) {
    .grid {
       grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .card > div {
        border: none;
        margin: 0px;
    } 
    h2 {
        font: 2.5em "Amatic SC", cursive;
    }
    .grid {
        grid-template-columns: 1fr;
    }

    header h1 {
        font: 3em "Amatic SC", cursive;
        text-align: left;
        margin: 0px;
        padding: 0px;
        padding-left: 30px;
        margin-top: 12px;
    }
    h2 {
        margin-top: 0;
    }
    .menu-item:first-child {
        margin-right: 20px;
    }
    .grid {
        margin-left: 5px;
        margin-right: 5px;
    }
}