pre {
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    background-color: #F7F7F7;
    font-size: 1.2em;
    border-radius: 5px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media (max-width: 700px) {
    pre {
        margin-left: 20px;
        margin-right: 20px;
    }
}
