main {
    margin-left: 30px;
    margin-right: 30px;
}

table img {
    width: 200px;
}
table th {
    text-align: center;
}
table th, table td {
    vertical-align: top;
    padding: 10px;
}
/*.menu-item:first-child {
    margin-right: 30px;
} */