main {
    /* padding-top: 10px; */
    /* padding-left: 10vw;
    padding-right: 10vw; */
    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column; */
    /* width: max-content; */
    width: 2000px;
}

img {
    height: 60px; 
    margin-right: 7px;
    opacity: 0;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
}


select {
    height: 40px;
    font-size: 1.0rem;
    border: solid #DDD 1px;
    background: white;
    color: #444;
    padding: 0px 20px 0px 40px;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-top: 0px;
}
.wrapper > li {
    padding-left: 16px;
    opacity: 0;
    animation-timing-function: linear;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    /* display: inline; */
    width: 50%;
    margin: 0px;
    padding: 0px;
    padding-left: 0.5em; 
    text-indent: -0.6em;
    list-style-type: none;
}

.wrapper > li::before {
    content: "• ";
    color: #7B8CDE;
}



table {
    width: auto;
    border-collapse: initial;
}

.chart table th {
    text-align: left;
    color: #666;
    background: #f1f3f4;
    position: sticky;
    top: 69px;
    z-index: 200;
    vertical-align: middle !important;
}
table td:first-child, table th:first-child {
    position: sticky;
    left: 0px;
}
table th:first-child {
    z-index: 100000;
}
table td:first-child {
    background: #f1f3f4;
    z-index: 100;
}

.chart table th, .chart table td {
    padding: 6px;
    font-size: 1em;
    vertical-align: top;
    margin: 0px;
}
table th:first-child {
    width: 280px !important;
}


@keyframes fadeIn {
    from {  opacity: 0; }
    to { opacity: 1; }
 }