main {
    padding-top: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

img {
    height: 80px; 
    opacity: 0;
    animation-timing-function: linear;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
}
td p {
    /* height: 80px;  */
    opacity: 0;
    animation-timing-function: linear;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    display: inline;
    /* font: 1.4em "Amatic SC", cursive; */
}

select {
    height: 40px;
    font-size: 1.0rem;
    border: solid #DDD 1px;
    background: white;
    color: #444;
    padding: 0px 20px 0px 40px;
}


table {
    width: 100%;
}

table th {
    text-align: left;
    color: #666;
    background: #F0F0F0;
}
.chart table th, .chart table td {
    padding: 6px;
    font-size: 1rem;
    vertical-align: top;
}
table td p::after {
    content: ' - ';
}
table td p:last-child::after {
    content: '';
}
table th:first-child {
    width: 280px !important;
}


@keyframes fadeIn {
    from {  opacity: 0; }
    to { opacity: 1; }
 }