body {
    height: 100vh;
    overflow: hidden;
}
.card {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.leaflet-popup-content {
    width: 400px !important;
}

.card > div {
    max-height: 230px;
    overflow-y: auto;
    border: none;
    margin: 0;
}
#mapid { 
    height: calc(100vh - 70px); 
}