body {
    height: 100vh;
    overflow: hidden;
}

main { 
    height: calc(100vh - 70px); 
    display: grid;
}
#mapid {
    height: 100%;
}
#card-holder {
    display: none;
}
main.with-card #card-holder {
    grid-area: left;
    display: block;
    overflow-y: auto;
}
main.with-card #card-holder .card > div {
    border: none;
}
main.with-card  #mapid {
    grid-area: main;
}
main.with-card { 
    grid-template-columns: 7fr 10fr;
    grid-template-areas: 
        "left main";
}

main.with-card #card-holder.fullscreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000;
    overflow-y: auto;
    background: white;
}
main.with-card #card-holder.fullscreen .mobile {
    display: none;
}